
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <style>
        html{
	height: 100%;
	width: 100%;
}
#body{
	position: relative;	/*相對定位*/
	height: 100%;
	width: 100vw;
	top: 0;
	left: 0;
}
#map {
	position: absolute;
	top: 25%;	/*地圖佔頁面的3/4，即 頁面高 - 地圖高 = 定位點高度 (100%-75%=25%) */
	left: 0;
    height: 75%;	/*地圖高*/
    width: 100vw;
}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
    
    <div class="body">
        <h1>King Tzeng的鐵人地圖</h1>
        <div id="map"></div>
    </div>
    <script>
        function initMap() {
            var Station_latlng = { lat: 25.064385, lng: 121.575554 };	// 台北車站的經緯度
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,	//放大的倍率
                center: Station_latlng	//初始化的地圖中心位置
            });

            //--------下面是呼叫一個新marker------

            var marker = new google.maps.Marker({
                position: Station_latlng,	//marker的放置位置
                icon: 'https://maps.google.com/mapfiles/kml/shapes/parking_lot_maps.png',
                map: map //這邊的map指的是第四行的map變數
            });
            //獲取當前位置
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var marker = new google.maps.Marker({
                        position: pos,
                        icon: 'marker.png',
                        map: map
                    });
                    map.setZoom(17);
                    map.setCenter(pos);
                });
            } else {
                // Browser doesn't support Geolocation
                alert("未允許或遭遇錯誤！");
            }

        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=yourkey&callback=initMap">
    </script>
</body>
</html>
